<div *ngIf="salert&&salert.isActive" class="sweet-overlay" tabindex="-1" style="opacity: 1.12; display: block;"></div>
<div *ngIf="salert&&salert.isActive" class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="false"
  data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null"
  style="display: block; margin-top: -176px;">
  <!--错误-->
  <div *ngIf="salert.salertType==='error'" class="sa-icon sa-error">
    <span class="sa-x-mark">
        <span class="sa-line sa-left"></span>
    <span class="sa-line sa-right"></span>
    </span>
  </div>
  <!--Warn提醒-->
  <!--<div *ngIf="info.level==='warn'" class="sa-icon sa-warning" style="display: block;">
        <span class="sa-body"></span>
        <span class="sa-dot"></span>
    </div>-->
  <!--Info-->
  <div *ngIf="salert.salertType==='info'||salert.salertType==='warn'||salert.salertType==='confirm'" class="sa-icon sa-info"
    style="display: block;"></div>
  <!--成功-->
  <div *ngIf="salert.salertType==='success'" class="sa-icon sa-success animate" style="display:block;">
    <span class="sa-line sa-tip animateSuccessTip"></span>
    <span class="sa-line sa-long animateSuccessLong"></span>
    <div class="sa-placeholder"></div>
    <div class="sa-fix"></div>
  </div>
  <h2>{{salert.title}}</h2>
  <p style="display: block;">{{salert.message}}</p>
  <fieldset>
    <input type="text" tabindex="3" placeholder="">
    <div class="sa-input-error"></div>
  </fieldset>
  <div class="sa-error-container">
    <div class="icon">!</div>
    <p>Not valid!</p>
  </div>
  <div class="sa-button-container">
    <button *ngIf="salert.salertType==='confirm'" (click)="confirm(false)" class="cancel" tabindex="2" style="display: inline-block; box-shadow: none;">取消</button>
    <div class="sa-confirm-button-container">
      <button *ngIf="salert.salertType!='confirm'" (click)="sure()" class="confirm" tabindex="1" style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset;">确认</button>
      <!--confirm下的确认-->
      <button *ngIf="salert.salertType==='confirm'" (click)="confirm(true)" class="confirm" tabindex="1" style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset;">确认</button>
      <div class="la-ball-fall">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>